#catalog-page {
    background-color: #ffffff;
    background-image: url('./images/Heroes/night-elf-.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 20px;
    height: auto;
    width: auto;
}

#catalog-page>h1 {
    color: #ac9e9e;
    font-family: "Agency FB";
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.allGames {
    background-color: #ffff;


}

.allGames-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.allGames-info>img {
    margin-top: -10px;
    border-radius: 50%;
    height: 140px;
    position: absolute;
    top: 30px;
    right: 30px;
    float: right;
    padding: 5px;
    width: 140px;
}

.allGames-info>h6 {
    font-size: 20px;
    font-weight: 750;
    color: #050505;
}

.allGames-info>h2 {
    font-size: 30px;
    font-weight: 750;
    color: #922828;
}

.details-button {
    color: #457ac0;
    font-size: 20px;
    position: inherit;
    bottom: -70px;
    ;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
    margin-right: auto;
    text-decoration: underline
}

.paladin,
.warrior,
.mage,
.druid,
.hunter {
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: auto;
    max-width: 800px;
    margin: 30px;
    overflow: hidden;
    width: 900px;
    min-height: 210px;
    height: auto;
}

.warrior {
    background-image: url('./images/Heroes/HD-wallpaper-warcraft-world-of-warcraft-orc-warrior-world-of-warcraft.jpg');
    background-position: center;
}

.mage {
    background-image: url('./images/Heroes/asdasd.jpg');
    background-position: 900px;
}

.paladin {
    background-image: url('./images/Heroes/pala.jpg');
    background-position: 900px;
}

.druid {
    background-image: url('./images/Heroes/druid.jpg');
    background-position: 900px;
}

.hunter {
    background-image: url('./images/Heroes/archer.jpg');
    background-position: 900px;
}

h1.paladin-hero {
    align-items: none;

}